<h1>Hockey team database</h1>
<h4>@Model.GetName()</h4>
<form action="/user/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<a href="/">Home</a>
