<h1>Add new team</h1>

  <form action="/teams/new" method="post">
    <label for="team-name">team-name</label>
    <input id="team-name" name="team-name" type="text">
    <label for="team-team_id">team-id</label>
    <input id="team-team_id" name="team-team_id" type="text" >

    <button type="submit">Add new team</button>

  </form>
