<h2>Confirm Delete</h2>
   <h4> delete @Model.GetName()?</h4>
   <form action="/users/delete/@Model.GetId()" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <input name="user-id" type="hidden" value="@Model.GetId()">
     <button type="submit">YES DELETE @Model.GetName()</button>
   </form>
   <a href="/">Go Home</a>
