
<div class="container">
  <div class="jumbotron title">
    <h3>Welcome To</h3><h1><span class="title-font">Slapshot Hockey!</span></h1>
  </div>
  <hr>
  <div class="container">
    <p>Do you have what it takes to win Lord Stanley's Cup</p>
    <p>Create User Profile To Begin</p>
    <h4><a href="/users">Create User</a></h4>
    <br>
    <p>View Your Competetion</p>
    <h4><a href="/teams">View Teams</a></h4>
  </div>
</div>
