<<<<<<< HEAD
<h1>Welcome To Hockey Game Simulation</h1>
<hr>
<p>Do you have what it takes to win Lord Stanley's Cup</p>
<p>Create User Profile To Begin</p>
<h4><a href="/users">Create User</a></h4>
<br>
<p>View Your Competetion</p>
<h4><a href="/teams">View Teams</a></h4>
=======
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Hair Salon!</h1>
    <h4><a href="/users">View user</a></h4>
    <h4><a href="/teams">View teams</a></h4>
  </body>
  </html>
>>>>>>> 246e3fb7b17a799911be6e939c794d1465e7c6ae
