<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Hair Salon!</h1>
    <h4><a href="/users">View user</a></h4>
    <h4><a href="/teams">View teams</a></h4>
  </body>
  </html>
