<head>
  <link rel="stylesheet" href="Content/css/styles.css" >
</head>

<h1>Welcome To Hockey Game Simulation</h1>
<hr>
<p>Do you have what it takes to win Lord Stanley's Cup</p>
<p>Create User Profile To Begin</p>
<h4><a href="/users">Create User</a></h4>
<br>
<p>View Your Competetion</p>
<h4><a href="/teams">View Teams</a></h4>
