<h1>User List</h1>
<h4>@Model.GetName()</h4>
<form action="/user/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" text="DELETE">
  <button type="submit">Clear</button>
</form>
<a href="/">Home</a>
