<form action="/users/new" method="post">
  <label for="user-name">User name</label>
  <input id="user-name" name="user-name" type="text">
  <label for="user-password">User password</label>
  <input id="user-password" password="user-password" type="text">
  <button type="submit">Add</button>
</form>
